@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@layer base {
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .slide-in {
    animation: slideIn 10s forwards infinite;
  }

  .slide-out {
    animation: slideOut 10s forwards infinite;
  }
}


@keyframes liquidFlow {
  0% { width: 0; }
  100% { width: 50%; }
}
@keyframes opacity {
  0% { opacity: 0; }
  100% { opacity: 100%; }
}
@keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 100%; }
}
@keyframes income_blink-shadow {
  0%, 100% {
    text-shadow: 0px 0px 0px #00DDA2;
    color: #00DDA2;
  }
  50% {
    text-shadow: 0px 0px 20px #00E7B1;
    color: #00E7B1;
  }
}
@keyframes expense_blink-shadow {
  0%, 100% {
    box-shadow: 0px 0px 15px 5px #334050;
  }
  50% {
    box-shadow: 0px 0px 15px 5px #28323e;
  }
}

@keyframes ease_in_bottom1 {
  0% {
    opacity: 0;
    transform: translateY(300%);
    background-color: transparent;  
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    background-color: #00DDA2;
  }
}
@keyframes ease_in_bottom2 {
  0% {
    opacity: 0;
    transform: translateY(200%);
    background-color: transparent;
    
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    background-color:#E0FFEF;
  }
}

@keyframes ease_in_left {
  0% {
    opacity: 0;
    transform: translateX(-200%);
    background-color: transparent;
    
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    background-color: #00DDA2;
  }
}
@keyframes ease_in_right {
  0% {
    opacity: 0;
    transform: translateX(200%);
    background-color: transparent;
    
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    background-color:#334050;
    backdrop-filter: blur(60px); 
  }
}

@keyframes roller_in_start {
  0% {
    opacity: 0;
    transform: translateX(-200%) rotate(-360deg);
    border-color: transparent;
    
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
    border-color: #00DDA2;
  }
}
@keyframes roller_in_end {
  0% {
    opacity: 0;
    transform: translateX(-200%) rotate(-360deg);
    border-color: transparent;
    
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
    border-color:#334050;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.pipe-border1 {
  position: relative;
  height: 10px;
  background-color: #ccc;
  overflow: hidden;
}

.pipe-border1::before{
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  background:  linear-gradient(90deg, #334050, #00DDA2); ;
  animation: liquidFlow 2s linear forwards;
}
.pipe-border1::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  background:  linear-gradient(90deg, #00DDA2, #334050); ;
  animation: liquidFlow 2s linear forwards;
}

.pipe-border1::before {
  left: 0;
  width: 50%;
}

.pipe-border1::after {
  right: 0;
  width: 50%;
}

.pipe-border2 {
  position: relative;
  height: 10px;
  background-color: #ccc;
  overflow: hidden;
}

.pipe-border2::before{
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  background:  linear-gradient(90deg, #00DDA2, #334050 ); ;
  animation: liquidFlow 2s linear forwards;
}
.pipe-border2::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  background:  linear-gradient(90deg, #334050, #00DDA2); ;
  animation: liquidFlow 2s linear forwards;
}

.pipe-border2::before {
  left: 0;
  width: 50%;
}

.pipe-border2::after {
  right: 0;
  width: 50%;
}


.net-income-card {
  position: absolute;
  bottom:  20%;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  animation: opacity 1s linear forwards;
  animation-delay: 2s;
  
}

.net-income-card_sm {
  animation: appear 3s linear forwards;
  animation-delay: 2s;
  opacity: 0;
  transform:translateY(0%)
}

.income{
  animation: income_blink-shadow 2s normal ease-in-out infinite forwards;
}
.expense{
  animation: expense_blink-shadow 2s normal ease-in-out infinite forwards;
}

.bottom1{
  animation: ease_in_bottom1 3s normal ease-in-out infinite forwards;
  animation-iteration-count: 1;
}
.bottom2{
  animation: ease_in_bottom2 2s normal ease-in-out infinite forwards;
  animation-iteration-count: 1;
}

.left{
  transform: translateX(-200%);
  animation: ease_in_left 2s ease-in-out forwards;
}
.right{
  transform: translateX(200%);
  animation: ease_in_right 2s ease-in-out forwards;
}

.table {
  animation: fadeIn 3s ease-out forwards;;
  overflow-x: auto;
  transform: translateY(0);

}
.tag {
  animation: fadeIn 3s ease-out forwards;
  transform: translateY(0);

}

.start{
  animation:  roller_in_start 2s ease-in-out forwards;
}
.end{
  animation:  roller_in_end 3s ease-in-out forwards;
}
.hide{
  opacity: 0;
}
.recharts-default-tooltip {
  background-color: #E0FFEF !important;
  border-radius: 5px;
  padding: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #000;
}

.recharts-tooltip-item {
  margin: 0;
}

.responsive-chart {
  width: 100%;
  height: auto;
} 

.custom-calendar {
  background-color: #BAB9E0 !important;
  border-radius: 8px !important;
  color: white;
}

.custom-day {
  background-color: #BAB9E0 !important;
  color: white !important;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.custom-day:hover {
  background-color: #4B71F0 !important;
  color: white !important;
  font-weight: 700 ;
}
.custom-day:focus {
  background-color: #4B71F0 !important;
  color: white !important;
  font-weight: 700 ;
}

.custom-day--in-range {
  background-color: #4B71F0 !important;
  color: white !important;
  font-weight: 700 ;
}

.custom-day--selected {
  background-color: #00DDA2 !important;
  color: black !important;
  font-weight: 700 ;
}
.custom-popper {
  z-index: 10 !important;
}

/* Customizing the DatePicker Calendar */
.react-datepicker {
  background-color: transparent !important; /* Dark background */
  color: white !important;
  border: none !important;
}

.react-datepicker__header {
  background-color: white !important; /* Header color */
  opacity: 20xp;
  color: white ;
}

.react-datepicker__day {
  color: white;
  background-color: #333;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.react-datepicker__day:hover {
  background-color: #00DDA2;
  color: black;
}

/* .react-datepicker__day--selected {
  background-color: #00DDA2 !important;
  color: black !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #00DDA2 !important;
  color: black !important;
} */

@media screen and (max-width: 640px) {
  .custom-calendar {
    font-size: 12px;
  }

  .custom-day {
    font-size: 10px;
  }
}

@media (max-width: 640px) {
  .responsive-chart {
    max-width: 120px;
    max-height: 120px;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .responsive-chart {
    max-width: 140px;
    max-height: 140px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .responsive-chart {
    max-width: 160px;
    max-height: 160px;
  }
}

@media (min-width: 1025px) {
  .responsive-chart {
    max-width: 180px;
    max-height: 180px;
  }
}

.left-triangle-clip {
  clip-path: polygon(15% 0%, 0% 50%, 15% 100%, 100% 100%, 100% 0%);
}
.right-triangle-clip {
  clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 0% 0%);
}

.typing-effect {
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: 'Sans';
  font-size: 14px;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  0% { border-color: transparent; }
  50% { border-color: white; }
  100% { border-color: transparent; }
}